
  h1,
h2,
h3,
h4,
h5,
h6,
p,
ol li,
span {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #333333;
    margin: 0
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 1px;;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index:80;
    
}
.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    

}
.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500; 
    margin-left:  35px;
    transition: .3s;

     

}
.navbar a:hover, 
.navbar a:active{
    color: #c40094;

}
.main{
    min-height: 100vh;
    background: url(../images/background1.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
/* .main .home */
.main.active{
    filter: blur(12px);
}

.w3-bar{
    background-color: #c40094;

}
.w3-bar-item{
     background-color: #c40094;
}

.home{
    height: 100vh;
    width: 100%  ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-content{
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column ;
}
.home-content h1   {
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0,0,0, .3);
    color: #fff;

}
.home-content p {
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0,0,0, .3);
    margin-bottom: 30px;
    color: #fff;
}

.home-content .start-btn{
    width: 190px; 
    height: 45px;
    background: #c40094;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #c40094;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;

}

 .home-content .start-btn:hover{
    background: #09001d;
    box-shadow: none;
}
.popup-infor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;


}

.popup-infor.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(.9);
}
.popup-infor h2 {
    font-size: 100%;
    font-weight: bold;
    color:#c40094
}

.popup-infor .infor{
    display: inline-block;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}
.close-btn{
    top: 4px;
    right: 8px;
    position: absolute;
    font-size: 30px;
    color: #09001d;
    cursor: pointer;
}
.popup-infor .btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #c40094;
    margin-top: 10px;
    padding: 15px 0 7px;
}
.popup-infor .btn-group .infor-btn{
   display: inline-flex;
   justify-content: center ;
   align-items: center;
   width: 130px;
   height: 45px;
   background: #c40094;
   border: 2px solid #c40094;
   outline: none;
   border-radius: 6px;
   text-decoration: none;
   font-size: 16px;
   color: #fff;
   font-weight: 600;
   box-shadow: 0 0 10px rgba(0,0,0, .1); 
      
}

.popup-infor .btn-group .infor-btn:nth-child(1){
    background: transparent;
    color: #c40094;
}
.popup-infor .btn-group .infor-btn:nth-child(1):hover{
    background: #c40094;
    color: #fff;
}
.popup-infor .btn-group .infor-btn:nth-child(2):hover{
    background: #fff;
    border-color: #c40094 ;
    color: #c40094;

}

w3-bar {font-family: "Montserrat", sans-serif}

@media  screen and (max-width: 600px) {
    .home-content h1   {
        font-size: 36px;
        font-weight: 700;
        text-shadow: 0 0 10px rgba(0,0,0, .3);
    
    }
    .logo{
        font-size: 22px;
        color: #fff;
        text-decoration: no ne;
        font-weight: 700;
    
    }

    .navbar a {
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        font-weight: 500; 
        margin-left:  20px;
        transition: .2s;
    
         
    
    }

    
.home-content .start-btn{
    width: 120px; 
    height: 30px;
    background: #c40094;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #c40094;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;

}

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 2px;

}
.popup-infor{
    
    width: 90vw;
    


}
}

 

.quiz {
    font-family: Arial, sans-serif;
    /* margin-top: 20%; */
    /* margin: 5%; */
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f3f3f3;
  }

  .quiz-container {
    width: fit-content;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .question {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .question img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .options span {
    margin-right: 5px;
    font-size: large;
    font-weight: bolder;
    color: black;
  }

  .options input[type="radio"] {
    margin-right: 10px;
    border: solid black 2px;
    font-size: large;
    font-weight: bolder;
    color: black
  }

  hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 15px 0;
  }

  .quiz-container {
  max-width: 800px; /* Adjust this value based on your design */
  margin: 0 auto;
}

#timer{
  background-color: rgb(221, 55, 55);
  padding: 1%;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  position: fixed;
  right: 3%;
  bottom: 2%;
}


.options input[type="radio"].correct + span {
    color: green;
  }

  /* Style for incorrect answer radio button */
  .options input[type="radio"].incorrect + span {
    color: red;
  } 
  
    hr {
      border: 0;
      border-top: 1px solid #ccc;
      margin: 15px 0;
    }

.modal-bg {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(243, 243, 243, 0.8); /* Semi-transparent background */
backdrop-filter: blur(2px); /* Apply a blur effect */
display: flex;
justify-content: center;
align-items: center;
z-index: 99;
/* display: none; */
}

/* Style for the result modal */
.resultModal {
background-color: white;
border-radius: 10px;
padding: 20px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
position: relative;
width: 40vw;
height: 40vh;
z-index: 100;
}
.resultModal .resultInner{
/* background-color: rgb(216, 198, 198); */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.resultModal .resultInner h3{
  font-style: italic;
}
.resultModal .resultInner h3:hover{
  font-style: italic;
  font-weight: bolder;
}
.resultModal .quizLinks{
display: flex;
justify-content: space-evenly;
}

/* Style for the close button */
.close-button {
position: absolute;
top: 10px;
right: 10px;
font-size: 1.5rem;
background-color: transparent;
color: red;
border: none;
cursor: pointer;
}
.close-button:hover{
font-weight: bolder;
}

.quiz-container {
max-width: 800px; /* Adjust this value based on your design */
margin: 0 auto;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .quiz {
    margin: 2%;
    padding-top: 20%;
  }
  .quiz-container {
    padding: 10px;
  }
  .resultModal {
    height: fit-content;
    width: 70vw;
  }
  
}


/*about page  */
   body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
          }
          
          html {
            box-sizing: border-box;
          }
          
          
          .column {
            float: left;
            width: 18%;
            margin-bottom: 20px;
            padding: 0 9px;
        
          }
          
            /* Remove extra left and right margins, due to padding */
            .row {margin: 0 -5px;}
  
            /* Clear floats after the columns */
            .row:after {
              content: "";
              display: table;
              clear: both;
            }
            .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 6px;
            
          }
          
          .about-section {
            padding: 50px;
            text-align: center;
            background-color: #c40094;
            color: white;
          }
          
          .container {
            font-size: 14px;
            padding: 0 16px;
          }
          
          .container::after, .row::after {
            content: "";
            clear: both;
            display: flex;
          }
          
          .title {
            color: #333;
          }
          
          .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
          }
          
          .button:hover {
            background-color: #555;
          }
          
          .img{
            width: 60px;
          }

          
          @media screen and (max-width: 600px) {
            .column {
              width: 100%;;
              display: block;
              margin-bottom: 20px;
            
        
            }
           
              .container h2 {
                padding: 0 9px;
              }
              
              
              
              .button {
                padding: 5px;
                color: white;
                background-color: #000;
                text-align: center;
                cursor: pointer;
                width: 50%;
              }
              .img{
                width: 30px;
              }
            }
