 <div class="about-section">
        <h1>About Us </h1>
        <p>We are a Group of Passionate and dedicated Developers</p>
        <p>cs361 Development Team</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="/images/dabz.png" class="img"  alt="Dabwiso" >
            <div class="container">
              <h2>Dabwiso Banda</h2>
              <p class="title">Front-end developer</p>
              <p class="p">Dabwisobandadb9@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/images/frank.png" class="img"  alt="Frank" >
            <div class="container">
              <h2>Frank Lembalemba</h2>
              <p class="title">Back-end developer</p>
              <p class="p">franklemblemba3@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
        
        <div class="column">
            <div class="card">
              <img src="/images/charles.png"  class="img" alt=" Charles" >
              <div class="container">
                <h2>Charles Chisale</h2>
                <p class="title">Back-end Developer</p>
                <p class="p">chisalecharles23@gmail.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <img src="/images/atune.png"  class="img"  alt="Atune" >
              <div class="container">
                <h2>Atune Mfungwe</h2>
                <p class="title">Web Researcher</p>
                <p class="p">mfungweatune@gmail.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
      
        <div class="column">
          <div class="card">
            <img src="/images/pethias.png" class="img" alt="Pathias" >
            <div class="container">
              <h2>Pethias Kasempa</h2>
              <p class="title">Designer</p>
              <p class="p">pethiaskay10@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
