<main class="main"> 
    
    <section class="home">
        <div class="home-content">
            <h1>Grade7Quiz</h1>
            <p> </p>
            <p>Welcome to G7 quiz</p>
            <p>Press the button to take the quiz</p>

            <button class="start-btn">Start Quiz</button>
        </div>
    </section>


 </main>

<div class="popup-infor">
    <h2>Quiz Guide</h2>
    <span class=" close-btn exit-btn">&times;</span>
    <span class="infor">1. You have four options for each Question.</span>
    <span class="infor">2. Select one that best suits the Answer.</span>
   
    <div class="btn-group">
        <button class="infor-btn exit-btn"><a href="/sp1_quiz">Paper 1</a></button>
        <button class="infor-btn exit-btn"><a href="/sp2_quiz">Paper 2</a></button>
        <!-- <span class="infor-btn"> <a href=""> Paper1</a></span>
        <span class="infor-btn"> <a href=""> Paper2</a></span> -->
    
        <!-- <a href="#" class="infor-btn continue-btn">Continue</a> -->
    </div >

 </div>


