<div class="home">
    <h1>
        Welcome to the Special Paper One and Two quize generator site
    </h1>
      
       <p>select below</p>

         <div class="papers">
            <a href="/sp1_quiz">special paper one</a>
            <a href="/sp2_quiz">special paper two</a>
         </div>
    
</div>

<style>
    .home{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin-top: 50%; */
        height: 100vh;
        /* margin: auto; */
        padding: 10%;
    }

    .home .papers{
        display: flex;
        flex-direction: column;
    }
   @media (max-width: 768px) {
      .home {
        height: 95vh;
      }
   }
</style>